*{
    margin:0px;
}
td{
    width: 75px;
    height: 75px;
    text-align: center
    
}
.hide{
    visibility: hidden;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td:hover .hide{
    visibility: visible;
    background-color: rgba(2555, 0, 0, 0.5);
    
}
td:hover {
    visibility: visible;
    background-color: rgba(2555, 0, 0, 0.5);
    
}
.black{
  background-color: black;
  color: white;
}





