*{
    margin:0px;
}
td{
    width: 100px;
    height: 100px;
    text-align: center
}
td:hover{
    background-color: rgba(2555, 0, 0, 0.5)
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
  background-color: black;
  color: white;
}




